/*:root.theme-dark {
}*/

.page.theme_dark {
  --text-color: #f1b2ce;
  --text-color-header-title: #db00ff;
  --bg-color: #000028;
  --accent-color: #ff0070;
  --border-hover-color: #ff007040;
  background-image: url("../images/cover-image-dark.png"); 
}