
.page.theme_light {
  background-image: url("../images/cover-image-light.png");
  --color-bg: #fff1f7;
  --color-main-text: #353430;
  --color-accent:#ff8dcb;
  --color-accent-text: #353430;
  --color-text-header-title: #ffc2e6;
  --color-text-content-title: #353430;
  --color-interactive-element: #353430;
  --color-decorated-zone: #353430;
  --color-decorative-element: #fff1f7;
  --border-hover-color: #35343040;
}

@media (prefers-color-scheme: light) {
  :root {
  --color-bg: #fff1f7;
  --color-main-text: #353430;
  --color-accent:#ff8dcb;
  --color-accent-text: #353430;
  --color-text-header-title: #ffc2e6;
  --color-text-content-title: #353430;
  --color-interactive-element: #353430;
  --color-decorated-zone: #353430;
  --color-decorative-element: #fff1f7;
  --border-hover-color: #35343040;
  }

  .page {
    background-image: url("../images/cover-image-light.png");
  }
}