/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 130%;
  color: var(--color-main-text);
  background-color: var(--bg-color);
  background-image: url("../images/cover-image-dark.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header,
.content,
.footer {
  padding: clamp(10px, var(--breakpoint-simulation) * 1000, 20px);
}

/******************************************Header начало************************************************/

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 668px;
  block-size: 100vh;
  align-items: center;
  position: relative;
}

.decorated-zone::before {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--color-decorated-zone);
  border-inline-end: 1px solid var(--color-decorated-zone);
  position: absolute;
  inset-inline-end: clamp(10px, var(--breakpoint-simulation) * 1000, 20px);
  inset-block-start: clamp(10px, var(--breakpoint-simulation) * 1000, 20px);
}

.decorated-zone::after {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--color-decorated-zone);
  border-inline-start: 1px solid var(--color-decorated-zone);
  position: absolute;
  inset-inline-start: clamp(10px, var(--breakpoint-simulation) * 1000, 20px);
  inset-block-end: clamp(10px, var(--breakpoint-simulation) * 1000, 20px);
}

.header__decorative-element {
  color: var(--color-decorative-element);
  text-transform: uppercase;
  position: absolute;
  inset-inline-end: clamp(11px, var(--breakpoint-simulation) * 1000, 21px);
  inset-block-start: clamp(11px, var(--breakpoint-simulation) * 1000, 21px);
}

.header__decorative-element::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--color-decorative-element);
  box-shadow:  0px 0px 4px 3px var(--color-decorative-element);
  margin: 2px 9px;
}

.header__theme-menu {
  display: grid;
  justify-items: end;
}

.header__theme-menu-list {
  display: grid;
  row-gap: 13px;
}

.header__theme-menu-button {
  padding: 2px 13px 3px;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  color: var(--color-interactive-element);
  line-height: 100%;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end : 1px solid var(--color-interactive-element);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-interactive-element);
  pointer-events: none;
}

.header__title {
  font-size: var(--font-size-title);
  color: var(--color-text-header-title);
  text-shadow: 4px 4px 0 var(--color-accent);
  line-height: 82.5%;
}

.header__description {
  font-weight: 700;
  white-space: pre-line;
  justify-self: end;
  inline-size: 22.18rem;
}

/******************************************Header конец************************************************/

.card {
  display: grid;
  gap: 10px;
}

.card__title {
  color: var(--color-accent-text);
  background-color: var(--color-accent);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 130%;
}

.card__link {
  text-decoration: none;
}

.card__link:focus {
  border: none;
  outline: none;
}

.card__link:focus-visible {
  border: 1px solid var(--color-main-text);
}

.card__link:hover {
  border: none;
  border-block-end: 1px solid var(--border-hover-color);
}

.card__accent {
  text-shadow: 2px 2px 0px var(--color-accent);
}

.content {
  padding-block-start: clamp(40px, var(--breakpoint-simulation) * 1000, 59px);
  display: grid;
  gap: 50px;
}

.content__title {
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 130%;
  color: var(--color-text-content-title);
}

.title-decor {
  background-color: var(--color-accent);
  color: var(--color-accent-text);
}


.content_details,
.content__list {
  display: grid;
  gap: 20px;
}

.recommendation__list  .card__title {
  font-weight: 400;
}

.gallery,
.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__list-picture {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}


.footer {
  margin-block-start: clamp(31px, var(--breakpoint-simulation) * 1000, 40px);
  display: grid;
  min-block-size: 668px;
  block-size: 100vh;
  justify-items: center;
  align-items: center;
  position: relative;
}

.footer__title {
  font-size: var(--font-size-title);
  color: var(--color-text-header-title);
  text-shadow: 2px 2px 0 var(--color-accent);
  line-height: 82.5%;
}

/********************************Медиа запросы - начало********************************/

@media (width >= 768px) {
  .header__title {
    --font-size-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-size: var(--font-size-title);
    margin-inline-start: -20px;
  }

  .header__description {
    inline-size: calc(100% / 2);
  } 
  
  .content {
    gap: 80px;
  }

  .explanation {
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
  }

  .reason {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
  }
  
  .reason__title {
    grid-column: 1/2;
  }
  
  .reason__list {
    grid-column: 1/4;
  }

  .recommendation {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);
}

  .recommendation__title {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .recommendation__subtitle {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .recommendation__list {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .gallery,
  .gallery__list {
    gap: 20px;
}

  .gallery__list {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }

  .gallery__list-item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__list-item:nth-child(2) {
    grid-row: span 2;
  }
  .gallery__list-item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__list-item:nth-child(5) {
    grid-column: span 2;
  }

  .footer__title {
    --font-size-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-size: var(--font-size-title);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-items: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
    gap: 10px;
  }

  .explanation {
    column-gap: 11px;
  }

  .reason__list {
    grid-template-columns: repeat(auto-fit, minmax(314px, 1fr));
  }

  .recommendation {
    column-gap: 11px;
  }
}
/********************************Медиа запросы - конец********************************/